/* ----------------------- FONTS ----------------------- */

@font-face {
    font-family: 'ArvoRegular';
    src: url('../fonts/Arvo-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/* ----------------------- LAYOUT ----------------------- */


body{
	font-family: OpenSansRegular, Helvetica, Arial, sans-serif;
	background: #fcfcfc url('../img/bg.png');
}


#wrapper{
	padding: 50px;
	padding-bottom: 100px;
}

.block {
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.rotated{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.side{
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid #f55d5d;
}
.front{
    height: 100px;
    width: 100px;
    background-color: #FFF;
}
.back{
    height: 100px;
    width: 100px;
    background-color: #f55d5d;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* wait message */

#wait-message{
    position: absolute;
    top: 300px;
    left: 200px;
    width: 230px;

    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;

    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 20px;
}



/* loader */

#loader{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 300px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.circularG{
position:absolute;
background-color:#ffffff;
width:11px;
height:11px;
-webkit-border-radius:8px;
-moz-border-radius:8px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
border-radius:8px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
}

#circularG_1{
left:0;
top:20px;
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s;
}

#circularG_2{
left:5px;
top:5px;
-webkit-animation-delay:0.52s;
-moz-animation-delay:0.52s;
-o-animation-delay:0.52s;
-ms-animation-delay:0.52s;
}

#circularG_3{
top:0;
left:20px;
-webkit-animation-delay:0.65s;
-moz-animation-delay:0.65s;
-o-animation-delay:0.65s;
-ms-animation-delay:0.65s;
}

#circularG_4{
right:5px;
top:5px;
-webkit-animation-delay:0.78s;
-moz-animation-delay:0.78s;
-o-animation-delay:0.78s;
-ms-animation-delay:0.78s;
}

#circularG_5{
right:0;
top:20px;
-webkit-animation-delay:0.9099999999999999s;
-moz-animation-delay:0.9099999999999999s;
-o-animation-delay:0.9099999999999999s;
-ms-animation-delay:0.9099999999999999s;
}

#circularG_6{
right:5px;
bottom:5px;
-webkit-animation-delay:1.04s;
-moz-animation-delay:1.04s;
-o-animation-delay:1.04s;
-ms-animation-delay:1.04s;
}

#circularG_7{
left:20px;
bottom:0;
-webkit-animation-delay:1.1700000000000002s;
-moz-animation-delay:1.1700000000000002s;
-o-animation-delay:1.1700000000000002s;
-ms-animation-delay:1.1700000000000002s;
}

#circularG_8{
left:5px;
bottom:5px;
-webkit-animation-delay:1.3s;
-moz-animation-delay:1.3s;
-o-animation-delay:1.3s;
-ms-animation-delay:1.3s;
}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}