.grid {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-right: -4px;
    margin-bottom: -5px;

}

.gridBefore{
    opacity: 0.3;
    -moz-opacity: 0.3;
}

.gridAfter{
    opacity: 1;
    -moz-opacity: 1;
        -webkit-transition: opacity 1s ease-in-out 0s; 
    -moz-transition: opacity 1s ease-in-out 0s;
    -o-transition: opacity 1s ease-in-out 0s;
    transition: opacity 1s ease-in-out 0s;
}

.color-row{
	height: 100px;
}


.grid .image{
	width: 75px;
	height: 75px;
	background-color: #fff;

    border: 9px solid white;
    position: relative;
    margin: auto;
    top: 3px;
}

.grid:hover{
    cursor: pointer;
}

.grid:hover .image{
    border: 5px solid white;
    margin-top: 4px;
}