/* ----------------------- FONTS ----------------------- */

@font-face {
    font-family: 'ArvoRegular';
    src: url('../fonts/Arvo-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/* ----------------------- LAYOUT ----------------------- */


body{
	font-family: OpenSansRegular, Helvetica, Arial, sans-serif;
	background: #fcfcfc url('../img/bg.png');
}



#container{
	width: 1190px;
	padding: 30px 0px;
}
.navbar-inner{
	font-family: ArvoRegular, Helvetica, Arial, sans-serif;
	height: 73px;
	background: #e98934 url('../img/rainbow.png') no-repeat right top;
}
.navbar-inner .brand{
	color: #fff;
	text-shadow: none;
	font-size: 30px;
	padding: 27px 50px 27px;
}

#filters{
	background: rgba(0,0,0,0.02);
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
    width: 210px;
	height: 560px;
	padding: 20px;
	margin-right: 10px;
	overflow: scroll;
	overflow-x: hidden;
}
#products{
	width: 800px;
	height: 600px;
}
#controls{
	padding-top: 20px;
}



/* ----------------------- FILTER FORM ----------------------- */


form.search{
	margin-bottom: 40px;
}
form.type{
	margin-bottom: 45px;
}
form.price, form.category{
	margin-bottom: 20px;
}
label.radio{
	margin-left: 30px;
	display: inline-block;
}
label.radio2{
	margin-left: 19px;
	display: inline-block;
}
div.form-label{
	float: left;
	font-size: 18px;
	font-family: ArvoRegular, Helvetica, Arial, sans-serif;;
}
label{
	margin-bottom: 7px;
}
label.checkbox{
	margin-left: 5px;
}

.layout-slider { 
	margin-top: 25px;
	width: 190px;
}
.layout-slider-settings { 
	font-size: 12px; 
	padding-bottom: 10px; 
}


/* fix some browser inconsistencies */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    label.radio2{
    	position: relative;
    	bottom: 14px;
    } 
    .layout-slider { 
		margin-top: 10px;
	}
}



/* -------- search box style ---------- */

form.search input, form.search input:focus, form.search button, 
form.search button:hover, form.search button:active, 
input.radio, input.radio:hover, input.radio:active, input.radio:checked,
input.checkbox, input.checkbox:hover, input.checkbox:active,
input.checkbox:checked, input.checkbox:checked::before{
	background: url('../img/form-sprite.png') no-repeat;
}


form.search input{
	background-position: 0px 0px;
	width: 144px;
	border: 1px solid transparent;
}
form.search input:focus{
	background-position: 0px -40px;
}

form.search button{
	background-image: url('../img/search-button.png');
	width: 38px;
	height: 29px;
	border: 1px solid transparent;
}
form.search button:hover{
	background-image: url('../img/search-button-h.png');
}
form.search button:active{
	background-image: url('../img/search-button-a.png');
	width: 38px;
	border: 1px solid transparent;
}



/* -------- radio button styling ---------- */

input.radio, input.checkbox{
	-webkit-appearance: none; 
	width: 18px; 
	height: 18px;
	position: relative;
	bottom: 3px;
	right: 6px;
	overflow: visible; 
	cursor: pointer;
}


input.radio {
	background-position: 0px -120px;
}
input.radio:hover{
	background-position: -20px -120px;
}
input.radio:active{
	background-position: -40px -120px;
}
input.radio:checked{
	background-position: -60px -120px;
}
input.radio:checked::before {
	-webkit-appearance: none; 
	content: ':)'; 
	text-indent: -9999px;
	background: url('../img/radio-tick.png') bottom center no-repeat; 
	width: 9px; 
	height: 9px; 
	top: 4px; 
	left: 4px; 
	position: absolute; 
	display: block;
}
input.radio:checked:active::before, input.checkbox:checked:active::before {}


/* -------- checkbox styling ---------- */

input.checkbox {
	background-position: -100px -120px ;
}
input.checkbox:hover{
	background-position: -120px -120px;
}
input.checkbox:active{
	background-position: -140px -120px;
}
input.checkbox:checked{
	background-position: -160px -120px;
}
input.checkbox:checked::before {
	-webkit-appearance: none; 
	content: ':)'; 
	text-indent: -9999px; 
	background-position: -180px -120px;
	width: 18px; 
	height: 18px; 
	top: 0px; 
	left: 0px; 
	position: absolute; 
	display: block;
}




/* --------------- CONTROLS ------------ */

#pan-up, #pan-up:hover, #pan-up:active, #pan-up.disabled, 
#pan-up.disabled:hover, #pan-up.disabled:active,
#pan-left, #pan-left:hover, #pan-left:active, #pan-left.disabled, 
#pan-left.disabled:hover, #pan-left.disabled:active,
#pan-center, #pan-center:hover, #pan-center:active, #pan-center.disabled, 
#pan-center.disabled:hover, #pan-center.disabled:active,
#pan-right, #pan-right:hover, #pan-right:active, #pan-right.disabled, 
#pan-right.disabled:hover, #pan-right.disabled:active,
#pan-down, #pan-down:hover, #pan-down:active, #pan-down.disabled, 
#pan-down.disabled:hover, #pan-down.disabled:active,
#zoom-in, #zoom-in:hover, #zoom-in:active, #zoom-in.disabled, 
#zoom-in.disabled:hover, #zoom-in.disabled:active,
#zoom-out, #zoom-out:hover, #zoom-out:active, #zoom-out.disabled, 
#zoom-out.disabled:hover, #zoom-out.disabled:active,
.zoom-lvl-1, .zoom-lvl-2, .zoom-lvl-3, .zoom-lvl-4, .zoom-lvl-5{
	background-image: url("../img/control-sprite.png");
}


#pan span{
	display: inline-block;
	height: 20px;
	width: 20px;
}
#pan span:hover{
	cursor: pointer;
}

#pan-up{
	position: relative;
	left: 20px;
	background-position: 0px 0px;
	margin-bottom: -5px;
}
#pan-up:hover{
	background-position: -20px 0px;
}
#pan-up:active{
	background-position: -40px 0px;
}

#pan-up.disabled, #pan-up.disabled:hover, #pan-up.disabled:active{
	background-position: -60px 0px;
}

#pan-left{
	background-position: 0px -20px;
}
#pan-left:hover{
	background-position: -20px -20px;
}
#pan-left:active{
	background-position: -40px -20px;
}
#pan-left.disabled, #pan-left.disabled:hover, #pan-left.disabled:active{
	background-position: -60px -20px;
}

#pan-center{
	background-position: 0px -40px;
	margin-left: -4px;
	margin-right: -4px;
}
#pan-center:hover{
	background-position: -20px -40px;
}
#pan-center:active{
	background-position: -40px -40px;
}
#pan-center.disabled, #pan-center.disabled:hover, #pan-center.disabled:active{
	background-position: -60px -40px;
}

#pan-right{
	background-position: 0px -60px;
}
#pan-right:hover{
	background-position: -20px -60px;
}
#pan-right:active{
	background-position: -40px -60px;
}
#pan-right.disabled, #pan-right.disabled:hover, #pan-right.disabled:active{
	background-position: -60px -60px;
}

#pan-down{
	position: relative;
	left: 20px;
	background-position: 0px -80px;
	margin-top: -5px;
}
#pan-down:hover{
	background-position: -20px -80px;
}
#pan-down:active{
	background-position: -40px -80px;
}
#pan-down.disabled, #pan-down.disabled:hover, #pan-down.disabled:active{
	background-position: -60px -80px;
}


#zoom{
	width: 20px;
	position: relative;
	left: 20px;
	margin-top: 20px;
}

#zoom-in:hover, #zoom-out:hover{cursor: pointer;}

#zoom-in{
	width: 20px;
	height: 20px;
	background-position: 0px -100px;
}
#zoom-in:hover{
	background-position: -20px -100px;
}
#zoom-in:active{
	background-position: -40px -100px;
}
#zoom-in.disabled, #zoom-in.disabled:hover, #zoom-in.disabled:active{
	background-position: -60px -100px;
}

#zoom-lvl{
	width: 20px;
	height: 160px;
}

.zoom-lvl-1{
	background-position: 0px -140px;
}
.zoom-lvl-2{
	background-position: -20px -140px;
}
.zoom-lvl-3{
	background-position: -40px -140px;
}
.zoom-lvl-4{
	background-position: -60px -140px;
}
.zoom-lvl-5{
	background-position: -80px -140px;
}

#zoom-out{
	width: 20px;
	height: 20px;
	background-position: 0px -120px;
}
#zoom-out:hover{
	background-position: -20px -120px;
}
#zoom-out:active{
	background-position: -40px -120px;
}
#zoom-out.disabled, #zoom-out.disabled:hover, #zoom-out.disabled:active{
	background-position: -60px -120px;
}




