/* ----------------------- FONTS ----------------------- */

@font-face {
    font-family: 'ArvoRegular';
    src: url('../fonts/Arvo-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/* ----------------------- LAYOUT ----------------------- */


body{
	font-family: OpenSansRegular, Helvetica, Arial, sans-serif;
	background: #fcfcfc url('../img/bg.png');
}



#container{
	width: 1190px;
	padding: 30px 0px;
}
.navbar-inner{
	font-family: ArvoRegular, Helvetica, Arial, sans-serif;
	height: 73px;
	background: #e98934 url('../img/rainbow.png') no-repeat right top;
}
.navbar-inner .brand{
	color: #fff;
	text-shadow: none;
	font-size: 30px;
	padding: 27px 50px 27px;
}

#filters{
	background: rgba(0,0,0,0.02);
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
    width: 210px;
	height: 560px;
	padding: 20px;
	margin-right: 10px;
	overflow: scroll;
	overflow-x: hidden;
}
#products{
	background: #ddd;
	width: 800px;
	height: 600px;
}
#controls{
	padding-top: 20px;
}



/* ----------------------- FILTER FORM ----------------------- */


form.search{
	margin-bottom: 40px;
}
form.type{
	margin-bottom: 45px;
}
form.price, form.category{
	margin-bottom: 20px;
}
label.radio{
	margin-left: 30px;
	display: inline-block;
}
label.radio2{
	margin-left: 19px;
	display: inline-block;
}
div.form-label{
	float: left;
	font-size: 18px;
	font-family: ArvoRegular, Helvetica, Arial, sans-serif;;
}
label{
	margin-bottom: 7px;
}
label.checkbox{
	margin-left: 5px;
}

.layout-slider { 
	margin-top: 25px;
	width: 190px;
}
.layout-slider-settings { 
	font-size: 12px; 
	padding-bottom: 10px; 
}


/* fix some browser inconsistencies */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    label.radio2{
    	position: relative;
    	bottom: 14px;
    } 
    .layout-slider { 
		margin-top: 10px;
	}
}



/* -------- search box style ---------- */

form.search input{
	background: url('../img/search-box.png') no-repeat;
	width: 144px;
	border: 1px solid transparent;
}
form.search input:focus{
	background: url('../img/search-box-focus.png') no-repeat;
}

form.search button{
	background: url('../img/search-button.png') no-repeat;
	width: 38px;
	height: 29px;
	border: 1px solid transparent;
}
form.search button:hover{
	background: url('../img/search-button-h.png') no-repeat;
}
form.search button:active{
	background: url('../img/search-button-a.png') no-repeat;
	width: 38px;
	border: 1px solid transparent;
}



/* -------- radio button styling ---------- */

input.radio, input.checkbox{
	-webkit-appearance: none; 
	width: 18px; 
	height: 18px;
	position: relative;
	bottom: 3px;
	right: 6px;
	overflow: visible; 
	cursor: pointer;
}




input.radio {
	background: transparent url('../img/radio.png'); 
}
input.radio:hover{
	background: transparent url('../img/radio-h.png');
}
input.radio:active{
	background: transparent url('../img/radio-a.png');
}
input.radio:checked{
	background: transparent url('../img/radio-checked.png');
}
input.radio:checked::before {
	-webkit-appearance: none; 
	content: ':)'; 
	text-indent: -9999px;
	background: url('../img/radio-tick.png') bottom center no-repeat; 
	width: 9px; 
	height: 9px; 
	top: 4px; 
	left: 4px; 
	position: absolute; 
	display: block;
}
input.radio:checked:active::before, input.checkbox:checked:active::before {}


/* -------- checkbox styling ---------- */

input.checkbox {
	background: transparent url('../img/checkbox.png'); 
}
input.checkbox:hover{
	background: transparent url('../img/checkbox-h.png');
}
input.checkbox:active{
	background: transparent url('../img/checkbox-a.png');
}
input.checkbox:checked{
	background: transparent url('../img/checkbox-checked.png');
}
input.checkbox:checked::before {
	-webkit-appearance: none; 
	content: ':)'; 
	text-indent: -9999px; 
	background: url('../img/checkbox-tick.png') bottom center no-repeat; 
	width: 18px; 
	height: 18px; 
	top: 0px; 
	left: 0px; 
	position: absolute; 
	display: block;
}




/* --------------- CONTROLS ------------ */
#pan span{
	display: inline-block;
	height: 20px;
	width: 20px;
}
#pan span:hover{
	cursor: pointer;
}

#pan-up{
	position: relative;
	left: 20px;
	background-image: url("../img/pan-up.png");
	margin-bottom: -5px;
}
#pan-up:hover{
	background-image: url("../img/pan-up-h.png");
}
#pan-up:active{
	background-image: url("../img/pan-up-a.png");
}

#pan-up.disabled, #pan-up.disabled:hover, #pan-up.disabled:active{
	background-image: url("../img/pan-up-d.png");
}

#pan-left{
	background-image: url("../img/pan-left.png");
}
#pan-left:hover{
	background-image: url("../img/pan-left-h.png");
}
#pan-left:active{
	background-image: url("../img/pan-left-a.png");
}
#pan-left.disabled, #pan-left.disabled:hover, #pan-left.disabled:active{
	background-image: url("../img/pan-left-d.png");
}

#pan-center{
	background-image: url("../img/pan-center.png");
	margin-left: -4px;
	margin-right: -4px;
}
#pan-center:hover{
	background-image: url("../img/pan-center-h.png");
}
#pan-center:active{
	background-image: url("../img/pan-center-a.png");
}
#pan-center.disabled, #pan-center.disabled:hover, #pan-center.disabled:active{
	background-image: url("../img/pan-center-d.png");
}

#pan-right{
	background-image: url("../img/pan-right.png");
}
#pan-right:hover{
	background-image: url("../img/pan-right-h.png");
}
#pan-right:active{
	background-image: url("../img/pan-right-a.png");
}
#pan-right.disabled, #pan-right.disabled:hover, #pan-right.disabled:active{
	background-image: url("../img/pan-right-d.png");
}

#pan-down{
	position: relative;
	left: 20px;
	background-image: url("../img/pan-down.png");
	margin-top: -5px;
}
#pan-down:hover{
	background-image: url("../img/pan-down-h.png");
}
#pan-down:active{
	background-image: url("../img/pan-down-a.png");
}
#pan-down.disabled, #pan-down.disabled:hover, #pan-down.disabled:active{
	background-image: url("../img/pan-down-d.png");
}


#zoom{
	width: 20px;
	position: relative;
	left: 20px;
	margin-top: 20px;
}

#zoom-in:hover, #zoom-out:hover{cursor: pointer;}

#zoom-in{
	width: 20px;
	height: 20px;
	background-image: url("../img/zoom-in.png");
}
#zoom-in:hover{
	background-image: url("../img/zoom-in-h.png");
}
#zoom-in:active{
	background-image: url("../img/zoom-in-a.png");
}
#zoom-in.disabled, #zoom-in.disabled:hover, #zoom-in.disabled:active{
	background-image: url("../img/zoom-in-d.png");
}

#zoom-lvl{
	width: 20px;
	height: 160px;
}

.zoom-lvl-1{
	background-image: url("../img/zoom-lvl-base.png");
}
.zoom-lvl-2{
	background-image: url("../img/zoom-lvl-2.png");
}
.zoom-lvl-3{
	background-image: url("../img/zoom-lvl-3.png");
}
.zoom-lvl-4{
	background-image: url("../img/zoom-lvl-4.png");
}
.zoom-lvl-5{
	background-image: url("../img/zoom-lvl-5.png");
}

#zoom-out{
	width: 20px;
	height: 20px;
	background-image: url("../img/zoom-out.png");
}
#zoom-out:hover{
	background-image: url("../img/zoom-out-h.png");
}
#zoom-out:active{
	background-image: url("../img/zoom-out-a.png");
}
#zoom-out.disabled, #zoom-out.disabled:hover, #zoom-out.disabled:active{
	background-image: url("../img/zoom-out-d.png");
}







