/* ----------------------- FONTS ----------------------- */

@font-face {
    font-family: 'ArvoRegular';
    src: url('fonts/Arvo-Regular-webfont.eot');
    src: url('fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo-Regular-webfont.woff') format('woff'),
         url('fonts/Arvo-Regular-webfont.ttf') format('truetype'),
         url('fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ----------------------- LAYOUT ----------------------- */

*{
/*	margin: 0;
	padding: 0;
	border: 0px;*/
}

body{
	background: #333 url('images/bg.png') repeat fixed;
	font-family: ArvoRegular, Arial, Helvetica, sans-serif;
}

header, div#main{
	margin: auto;
	padding:30px;
	color: #666;

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header{
	width: 950px;
	height: 50px;
	color: #555;
	font-size: 50px;
	text-shadow: #FFF 1px 1px 1px;
	text-align: center;
	position: fixed;
	top: 20px;
    left: 50%;
    margin-left: -515px;
	z-index: 100;
	/* background: #CCC url('images/header-bg.png') repeat; */
	background: #8fc9ca;

	-moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: border;  /* Safari 4? Chrome 6? */
	background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	border: 8px solid transparent;
}

footer{
	width: 750px;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
	color: #333;
	text-align: center;
	border-top: 1px solid #999;
	padding-top: 20px;
	margin: auto;
}

div#main{
	/* background: #666 url('images/main-bg.png') repeat; */
	background: #fcfcd9;
	position: relative;
	z-index: 50;
	width: 800px;
	min-height: 500px;
	top: -20px;
	padding-top: 200px;

	-moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: border;  /* Safari 4? Chrome 6? */
	background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	border: 8px solid transparent;
}

div.compatibility{
	text-align: center;
	margin-bottom: 40px;
}
div.compatibility figure{
	margin-top: 10px;
}



/* ----------------------- GALLERY ----------------------- */

div#main ul.gallery{
	list-style: none;
	width: 720px;
	margin: auto;
}

div#main ul.gallery li{
	display: inline-block;
	margin: 0px 30px 40px 0px;
}

div#main ul.gallery li:nth-child(3n+3){
	margin-right: 0px;
}

div#main ul.gallery figure{
	width: 200px;
	height: 150px;
	background: #666;

	border: 8px solid #FFF;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

	transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s; /* Firefox 4 */
	-webkit-transition: box-shadow 0.5s; /* Safari and Chrome */
	-o-transition: box-shadow 0.5s; /* Opera */
}
div#main ul.gallery figure.vert{
	width: 150px;
	height: 200px;
	margin: 0px 25px;
}

div#main ul.gallery figure img{
	width: 200px;
	height: 150px;
}
div#main ul.gallery figure.vert img{
	width: 150px;
	height: 200px;
}

div#main ul.gallery figure.need-margin{
	position: relative;
	top: -25px;
}

div#main ul.gallery li:nth-child(3n+1) figure:hover{
	-webkit-animation: imagehover-left 1s infinite;
	-moz-animation: imagehover-left 1s infinite;
}
div#main ul.gallery li:nth-child(3n+2) figure:hover{
	-webkit-animation: imagehover-center 1s infinite;
	-moz-animation: imagehover-center 1s infinite;
}
div#main ul.gallery li:nth-child(3n+3) figure:hover{
	-webkit-animation: imagehover-right 1s infinite;
	-moz-animation: imagehover-right 1s infinite;
}


/* Lightbox */

.enlarge{
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0px; 
	left: 0; 
	display: none; 
	z-index: 999;
	background: rgba(0,0,0,0.5);
	-webkit-animation: fadein 0.5s 1;
	-moz-animation: fadein 0.5s 1;
}
.enlarge figure{
	margin-bottom: 5px;
}
.enlarge img{
	width: 600px;
	-webkit-animation: grow 0.5s 1;
	-moz-animation: grow 0.5s 1;
}
.enlarge.vert img{
	height: 600px;
	width: 450px;
	-webkit-animation: grow-vert 0.5s 1;
	-moz-animation: grow-vert 0.5s 1;
}
.enlarge a{
	display: table-cell; 
	text-align: center;
}
.enlarge a:link, .enlarge a:hover, .enlarge a:visited, .enlarge a:active{
	color: #666; 
	text-decoration: none;
}
.enlarge .box{
	width: 600px;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	background: #FFF;
	-webkit-box-shadow: 0px 0px 15px #000;
	-moz-box-shadow: 0px 0px 15px #000;	
	-webkit-animation: grow 0.5s 1;		
	-moz-animation: grow 0.5s 1;	
}
.enlarge.vert .box{
	margin-top: 20px;
	width: 450px;
	-webkit-animation: grow-vert 0.5s 1;	
	-moz-animation: grow-vert 0.5s 1;	
}
.enlarge figcap{
	margin: 10px 0px;
	font-size: 14px;
}
.enlarge:target{
	display:table;
	height:1250px;
}



/* ----------------------- ANIMATION ----------------------- */

@-webkit-keyframes imagehover-left {
	0%, 100% {
		-webkit-transform: scale(1.0);
	}
	50% {
		-webkit-transform: scale(1.0);
		box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.15);
	}
}
@-webkit-keyframes imagehover-center {
	0%, 100% {
		-webkit-transform: scale(1.0);
	}
	50% {
		-webkit-transform: scale(1.01);
		box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
	}
}
@-webkit-keyframes imagehover-right {
	0%, 100% {
		-webkit-transform: scale(1.0);
	}
	50% {
		-webkit-transform: scale(1.01);
		box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
	}
}

@-moz-keyframes imagehover-left {
	0%, 100% {
	}
	50% {
		box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.15);
	}
}
@-moz-keyframes imagehover-center {
	0%, 100% {
	}
	50% {
		box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
	}
}
@-moz-keyframes imagehover-right {
	0%, 100% {
	}
	50% {
		box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
	}
}

@-webkit-keyframes fadein{
	from {opacity: 0;}
	to 	{opacity: 1;}
}
@-webkit-keyframes grow{
	from {width: 0px;}
	to 	{width: 600px;}
}
@-webkit-keyframes grow-vert{
	from {width: 0px; height: 0px;}
	to 	{width: 450px;}
}

@-moz-keyframes fadein{
	from {opacity: 0;}
	to 	{opacity: 1;}
}
@-moz-keyframes grow{
	from {width: 0px;}
	to 	{width: 600px;}
}
@-moz-keyframes grow-vert{
	from {width: 0px; height: 0px;}
	to 	{width: 450px;}
}